
body{
    background: #012639;

}
#logo{
    display: block;
   margin-left: auto;
   margin-right: auto;
    width: 45%;
    height: 45%;

}


.insulti-container{
    
    display: block;
    margin-left: auto  ;
    margin-right: auto;
    text-align: center;

    
}

.range_domand{
    color: white;
}

.container {
    position: relative;
}

/*
Show the label at desired position when the 
placeholder of input isn't shown
*/
.container__input:not(:placeholder-shown) + .container__label {
    background: #012639;
    transform: translate(-50px, 2px);
    opacity: 1;
}

.container__label {
    /* Position the label */
    left: 8px;
    position: absolute;
    top: 0;
    color: white;

    /* Hide it by default */
    opacity: 0;
    transition: all 200ms;
}
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }