@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

.logo{
    display: block;
    margin: auto;
    width: 75%;
    height: 75%;
}
body{
    background-color: #012639;
}
.working-in-progress{
    font-family: 'Teko', sans-serif;
    color: #ffff;
    display: block;
    margin: auto;
    font-size: 70px;
}