.landscape{
    display: block;
    margin: auto;
    width: 179px;
    height: 179px;
}
@font-face {
    font-family: poppins;
    src: url(Poppins-Regular.ttf);
}


h1{
    font-family: poppins; 
    font-size: 40px;
    text-align: center;
}
